/*타이틀 글꼴*/
@font-face {
  font-family: "NEXONFootballGothicBA1";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXONFootballGothicBA1.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/*슬라이더 글꼴*/
@font-face {
  font-family: "NEXON Lv1 Gothic OTF Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/*슬라이더 글꼴 2*/
@font-face {
  font-family: "NEXONFootballGothicLA1";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXONFootballGothicLA1.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 타이틀 */
#header-column {
  display: flex;
  justify-content: center;
  padding: 20px;
  border-bottom: #dadada;
  width: 100%;
  -webkit-box-shadow: 0px 10px 11px 4px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 10px 11px 4px rgba(0, 0, 0, 0.09);
}
#title-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: "NEXONFootballGothicBA1";
  font-size: 25px;
}

.text {
  font-family: "NEXON Lv1 Gothic OTF Light";
}

/* 설명 칸 */
.description {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 200px;
  width: 100%;
  text-align: center;
}

/* 자세한 소개 */
.summary {
  font-family: "NEXON Lv1 Gothic OTF Light";
  width: 100%;
  text-align: center;
}

h1 {
  font-family: "NEXONFootballGothicLA1";
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

/*부서 이름*/
.department-title {
  font-family: "NEXONFootballGothicLA1";
  margin-left: 7px;
}

.mySlides {
  display: none;
  height: 500px;
  width: 100%;
}
img {
  vertical-align: middle;
  object-fit: cover;
}

/* 슬라이드 */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
  height: 500px;
  -webkit-box-shadow: 0px 17px 11px -7px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 17px 11px -7px rgba(0, 0, 0, 0.34);
}

/* 다음 이전 버튼 */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* 오른쪽 다음 버튼 */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* 올렸을때 색변화 */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* 글자 */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* 숫자 */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* 점 */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* 페이딩 애니메이션 */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* 작은화면에선 글씨 작게 만듬 */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

/* 부서 링크 */
#department-column {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
}

/* 부서 한칸 */
.department {
  width: 200px;
  height: 370px;
  margin: 0px;
  border: 1px solid #dadada;
  border-radius: 6px;
  margin-left: 27px;
}

/* 부서 이미지 */
.department-image {
  width: 200px;
  height: 210px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

#list {
  width: 100%;
  text-align: center;
  margin-top: 160px;
}

/* 부서 설명 */
.department-summary {
  margin-left: 7px;
  font-family: "NEXON Lv1 Gothic OTF Light";
  opacity: 0.4;
  margin-top: 13px;
}

#introduce-column {
  margin-top: 200px;
  margin-left: 30px;
}

/*소개 칸*/
.introduce-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 10px solid #f1efed;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.29);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.29);
}

.introduce-detail {
  display: flex;
  justify-content: center;
}

.introduce-sum {
  font-family: "NEXONFootballGothicLA1";
  right: 100px;
}

.introduce-sum-container {
  width: 57%;
  margin-left: 50px;
}

/*소개 칸 비디오부분*/
.introduce-sum-box {
  width: 1120px;
  height: 680px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  -webkit-box-shadow: -1px 2px 19px 5px rgba(0, 0, 0, 0.19);
  box-shadow: -1px 2px 19px 5px rgba(0, 0, 0, 0.19);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
}

.introduce-sum-box-summary-wrapper {
  width: 50%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.video-one {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.introduce-sum-box-subtitle {
  font-family: "NEXON Lv1 Gothic OTF Light";
  font-weight: 800;
}

.introduce-sum-box-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.introduce-sum-box-subtitle {
  text-align: center;
  opacity: 0.5;
}

.introduce-sum-box-summary {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
}

.introduce-sum-box-text {
  width: 80%;
  font-family: "NEXON Lv1 Gothic OTF Light";
  font-size: 26px;
}

.introduce-sum-box-tag {
  font-family: "NEXON Lv1 Gothic OTF Light";
  opacity: 0.5;
  margin-left: 50px;
  margin-top: 50px;
}

.introduce-sum-text {
  font-family: "NEXON Lv1 Gothic OTF Light";
  opacity: 0.7;
  font-size: 20px;
}
